.login{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
}
#login-form{
  display: block;
  max-width: 100%;
  text-align: center;
  input{
    width: 200px;
    font-size: 18px;
    color: white;
    padding: 0px 2.5px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    transition: all .4s ease;
    &:focus{
      &::placeholder{
        transform: translateX(100%);
        opacity: 0;
      }
    }
    &::placeholder{
      transition: all .4s ease;
      overflow: hidden;
    }
  }
}